html {background: #FAEEB2;font-family: hind vadodara;}

nav {margin-left: auto; margin-right: auto; margin-top: 3em; width: 900px; text-align: center;}

a {text-decoration: none; color:#D3AB3B; font-weight: bold;font-size: 2.2em; margin-right: 0.8em; margin-left: 0.8em;font-family: showcard gothic;}

p {font-size: 1.3em; width: 40%; color: #896E29; line-height: 1.5em; text-align: left; margin-top: 5em; margin-left: auto; margin-right: auto;}

#logo {width: 7%; margin-left: 0em; margin-bottom: -1em; margin-top: 0em;}
#img2 {width: 90em; position: relative; margin-left: auto; margin-right: auto; display: block;}

#smartphone1 {width: 35%; transform: rotate(-25deg); margin-left: -5%; margin-top: 1%; position: fixed;}
#download {width: 30%; margin-left: 30%; margin-top: 3em;}
#smartphone2 {width: 25%; transform: rotate(25deg); margin-left:20%; margin-top:-22em; position: fixed;}

footer {margin-top: 7.5em; width: 8em; display: block; margin-left: auto;margin-right: auto;}
.footerlink {font-size: 1.4em; font-weight: normal; color: #896E29; text-decoration: underline;}

.active {color: #59694D;}
a:active {color: #59694D;}

@media (max-width:1600px) {
    #img2 {width: 70em;}
    #smartphone1 {width: 25%;}
}

@media (max-width:1200px) {
    #img2 {width: 60em;}
    #smartphone1 {width: 25%;}
}

@media (max-width:1100px) {
    #img2 {width: 50em;}
    #smartphone1 {width: 25%;}
}

@media (max-width:900px) {
    #img2 {width: 45em;}
    #smartphone1 {width: 25%;}
    nav {width: 500px;}
    a {font-size: 1.5em;}
}

@media (max-width:750px) {
    nav {width: 400px; margin-top: 2em;}
    #logo {width: 15%}
    a {font-size: 1.3em; margin-left: 0.4em; margin-right: 0.4em;}
    #img2 {width: 25em; margin-top: -1%;}
    p {font-size: 1em; width: 60%}
    #smartphone1 {width: 40%; margin-left: -18%; transform: rotate(-18deg); margin-top: 25%;}
    #smartphone2 {width: 45%; margin-top: 0%; margin-left: 0%;}
    footer {margin-left: auto; margin-right: auto; margin-top: 25%; width: 4em;}
    .footerlink {font-size: 0.8em;}
}

@media (max-width:550px) {
    nav {width: 400px; margin-top: 2em;}
    #logo {width: 15%}
    a {font-size: 1.3em; margin-left: 0.4em; margin-right: 0.4em;}
    #img2 {width: 25em; margin-top: -1%;}
    p {font-size: 1em; width: 70%}
    #smartphone1 {display: none; width: 40%; margin-left: -18%; transform: rotate(-18deg); margin-top: 25%;}
    #download {margin-left: 20%;}
    #smartphone2 {width: 20%; margin-top: -4%; margin-left: 10%;}
    footer {margin-left: auto; margin-right: auto; margin-top: 17%; width: 4em;}
    .footerlink {font-size: 0.8em;}
}

@media (max-width:450px) {
    nav {width: 95%; margin-top: 2em;}
    #logo {width: 15%}
    a {font-size: 1em; margin-left: 0em; margin-right: 0.4em;}
    #img2 {width: 18em;}
    p {font-size: 0.9em; margin-left: auto; margin-right: auto; width: 90%; margin-top: 2em;}
    #smartphone1 {display: none;}
    #download { width: 50%; margin-left: 5%; margin-top: 5%;}
    #smartphone2 {width: 20%; margin-left: 12%; margin-top: -4%; position: fixed; transform: rotate(20deg)}
    footer {margin-left: auto; margin-right: auto; margin-top: 15%;}
    .footerlink {font-size: 0.8em;}
}
