html {background: #FAEEB2; font-family: hind vadodara;}

nav {margin-left: auto; margin-right: auto; margin-top: 3em; width: 900px; text-align: center;}

a {text-decoration: none; color:#D3AB3B; font-weight: bold;font-size: 2.2em; margin-right: 0.8em; margin-left: 0.8em; font-family: showcard gothic;}

#logo {width: 7%; margin-left: 0em; margin-bottom: -1em; margin-top: 0em;}
#img2 {width: 90em; position: relative; margin-left: auto; margin-right: auto; display: block; margin-top: 3em;}

#mailDiv {position: absolute; width: 42%; height: 35em; margin-left: 30%; margin-top: -20em; background:#D3AB3B; border: 5px solid #D3AB3B; border-radius: 15px;}
.emailadres {width: 90%; margin-top: 1.5em; margin-left: 3%; margin-bottom: 2em; font-size: 1.2em; border-radius: 10px; padding:0.5em;}
.invoervak {width: 90%; height: 20em; margin-bottom: 1.5em; margin-left: 3.2%; font-size: 1.2em; border-radius: 15px; padding: 0.5em;}
.verzendknop {display: block; font-family: hind vadodara; margin-left: auto; margin-right: auto; font-size: 1.2em; font-weight: bold; padding: 0.5em; border-radius: 10px; background: #667451; color:#D3AB3B;}
#openingsurenDiv {visibility: hidden; position: absolute; width: 42%; height: 35em; margin-left: 30%; margin-top: -20em; background:#D3AB3B; border: 5px solid #D3AB3B; border-radius: 15px;}
#wegbeschrijvingDiv {visibility: hidden; position: absolute; width: 42%; height: 35em; margin-left: 30%; margin-top: -20em; background:#D3AB3B; border: 5px solid #D3AB3B; border-radius: 15px;}


.knoppen {margin-left: 71%; margin-top: 5em; color:#D3AB3B; font-family: hind vadodara; }
#mail {display: block; width: 10em; height: 3em; font-size: 2em; border-radius: 20px; background: #667451; color:#D3AB3B; font-weight: bold;}
#openingsuren {display: block; width: 10em; height: 3em; font-size: 2em; border-radius: 20px; background: #667451; color:#D3AB3B; font-weight: bold;}
#wegbeschrijving {display: block; width: 10em; height: 3em;font-size: 2em; border-radius: 20px; background: #667451; color:#D3AB3B; font-weight: bold;}

h1 {display: block; width: 6em; margin-left: auto; margin-right: auto; margin-top: 1em;font-size: 4em; color: #667451}
table {margin-left: auto; margin-right: auto; margin-top: 2em; font-size: 1.5em; color: #54421A;}
td {width: 8em; height: 2em; text-align: center;}

.active {color: #59694D;}
a:active {color: #59694D;}

h2 {width: 70%; margin-top: -5%; margin-left: 40%; font-size: 2em; color: #667451; font-family: showcard gothic;}
p {width: 70%; margin-top: 1%; margin-left: 30%; font-size: 2em; color: #667451;}

.afbWegbeschrijving {width: 90%; margin: 4%;}
.afbKleinWegbeschrijving {display: none;}

footer {display: block; width: 4em; margin-top: 18.5em; margin-left: auto; margin-right: auto;}
.footerlink {font-size: 1.4em; font-weight: normal; color: #896E29; text-decoration: underline;}

.onzichtbaar {display: none;}

@media (max-width:1600px) {
    #img2 {width: 70em;}
    h2 {font-size: 1.5em;}
    p {font-size: 1.5em;}
}

@media (max-width:1200px) {
    #img2 {width: 60em;}
    h2 {font-size: 1.3em;}
    p {font-size: 1.3em;}
}

@media (max-width:1100px) {
    #img2 {width: 50em;}
    footer {margin-top: 5%;}
    h1 {font-size: 3em;}
    h2 {font-size: 1.3em;}
    p {font-size: 1.3em;}
    #mailDiv {margin-left: 10%; width: 50%; height: 33em;}
    #openingsurenDiv {margin-left: 10%; width: 50%; height: 33em;}
    #wegbeschrijvingDiv {margin-left: 10%; width: 50%; height: 22em;}
    .knoppen {margin-left: 58%;}
    footer {margin-top: 35%;}
}

@media (max-width:900px) {
    nav {width: 500px;}
    a {font-size: 1.5em;}
    #img2 {width: 45em;}
}

@media (max-width:750px){
  nav {width: 400px; margin-top: 2em;}
  #logo {width: 15%}
  a {font-size: 1.3em; margin-left: 0.4em; margin-right: 0.4em;}
  #img2 {width: 25em; margin-top: -1%;}
  .knoppen {position: relative; width: 65%; font-size: 0.4em;  margin-top: 5%; margin-left: auto; margin-right: auto;}
  #mail, #openingsuren, #wegbeschrijving {display: inline; width: 38%;border: none; height: 4em;}
  #openingsuren, #wegbeschrijving {margin-left: -5%;}
  #mail {width: 30%;}
  #mailDiv, #openingsurenDiv, #wegbeschrijvingDiv {position: relative; height: 25em; margin-top: -0.8em; margin-left: auto; margin-right: auto;}
  #openingsurenDiv {margin-top: -25.5em;}
  #wegbeschrijvingDiv {margin-top: -25.5em;}
  .emailadres {margin-left: 1%;}
  .invoervak {margin-left: 2%; height: 45%;}
  h1 {font-size: 2.5em;}
  table {font-size: 1.1em;}
  .afbWegbeschrijving {width: 95%; margin: 3%; margin-top: 5%;}
  h2 {font-size: 1.8em; margin-left: auto; margin-right: auto; margin-top: 15%;}
  p {margin-left: auto; margin-right: auto; width: 90%; font-size: 1.2em;}
  .footerlink {font-size: 0.8em;}
  footer {margin-top: 15%;}
}

@media (max-width:550px) {
    h2 {font-size: 1.2em;}
    p {font-size: 0.8em;}
    #wegbeschrijvingDiv {height: 18em;}
}

@media (max-width:450px) {
    nav {width: 95%;}
    #logo {width: 15%;}
    a {font-size: 1em; margin-left: 0em; margin-right: 0.4em;}
    #img2 {width: 18em; margin-top: -1%;}
    #mailDiv, #openingsurenDiv, #wegbeschrijvingDiv {width: 15em; height: 20em;}
    #wegbeschrijvingDiv {margin-top: -20.5em; height: 15em;}
    #openingsurenDiv {margin-top: -20.5em;}
    .invoervak {height: 35%;  }
    .afbWegbeschrijving {display: none;}
    .afbKleinWegbeschrijving {display:inline; width: 80%; margin-top: 1em;}
    h1 {font-size: 1.8em; margin-top: 8%}
    table {font-size: 1em;}
    .knoppen {width: 95%;}
    #mail, #openingsuren, #wegbeschrijving {font-size: 1.6em;}
    h2 {font-size: 1.2em; margin-left: auto; margin-right: auto; margin-top: 5%; width: 7.5em;}
    p {font-size: 1em; margin-left: auto; margin-right: auto; width: 14.3em;}
    footer {margin-left: auto; margin-right: auto; margin-top: 30%; width: 4.3em;}
    .footerlink {font-size: 0.8em;}
}
