html {background: #FAEEB2; font-family: hind vadodara;}

nav {margin-left: auto; margin-right: auto; margin-top: 3em; width: 900px; text-align: center;}

a {text-decoration: none; color:#D3AB3B; font-weight: bold;font-size: 2.2em; margin-right: 0.8em; margin-left: 0.8em; font-family: showcard gothic;}


#tekst {width: 45%; margin-left: auto; margin-right: auto;}
h1 {font-size: 5em; font-weight: bold; font-family: showcard gothic; width: 100%; text-align: center; color: #D3AB3B; margin-top: 0.5em; margin-bottom: 0.3em;}
h2 {font-size: 3em; font-family: showcard gothic; font-weight: bold; color: #667451; width: 100%; text-align: center; margin-top: 0.5em; margin-bottom: 1em;}
p {width: 800px; font-size: 1.5em; font-weight: bold; color: #896E29; margin-top: 0.7em; line-height: 1.5em; width: 100%;}

#logo {width: 7%; margin-left: 0em; margin-bottom: -1em; margin-top: 0em;}
#img2 {width: 90em; position: relative; display: block;margin-top: 3em; margin-left: auto; margin-right: auto;}

.ticketVoorkant {width: 40%; transform: rotate(80deg); margin-top: 12%; margin-left: -5%; margin-bottom: -35em; position: fixed;}
.ticketAchterkant {width: 40%; transform: rotate(280deg); margin-top: -17%; margin-left: 65%; margin-bottom: 0em; position: fixed;}

footer {margin-top: 4em; display: block; width: 9em; margin-left: auto; margin-right: auto;}
.footerlink {font-size: 1.4em; font-weight: normal; color: #896E29; text-decoration: underline;}.5

.active {color: #59694D;}
a:active {color: #59694D;}

@media (max-width:1600px) {
    #img2 {width: 70em;}
    h1 {font-size: 4.5em;}
    h2 {font-size: 2.5em;}
    p {font-size: 1.2em;}
    .ticketAchterkant {margin-top: -22%;}
}

@media (max-width:1200px) {
    #img2 {width: 60em;}
    h1 {font-size: 3.8em;}
    h2 {font-size: 2em;}
    p {font-size: 1em;}
    .ticketVoorkant {width: 70%; margin-left: -25%; margin-top: 20%;}
}

@media (max-width:1100px) {
    #img2 {width: 50em;}
    h1 {font-size: 3em;}
    h2 {font-size: 2em;}
    p {font-size: 1em; width: 100%;}
    .ticketVoorkant {width: 70%; margin-left: -25%; margin-top: 20%;}
    .ticket
}

@media (max-width:900px) {
    nav {width: 500px;}
    a {font-size: 1.5em;}
    #img2 {width: 45em;}
    h1 {font-size: 2.5em;}
    h2 {font-size: 1.5em;}
    #tekst {width: 65%;}
    .ticketVoorkant {display: none;}
    .ticketAchterkant {transform: rotate(0deg); margin-left: 18%; margin-top: 3%; width: 60%;}
    footer {margin-top: 35%;}
}

@media (max-width:750px) {
  nav {width: 400px; margin-top: 2em;}
  #logo {width: 15%}
  a {font-size: 1.3em; margin-left: 0.4em; margin-right: 0.4em;}
  #img2 {width: 25em; margin-top: -1%;}
}

@media (max-width:450px) {
    nav {width: 95%; margin-top: 2em;}
    #logo {width: 15%}
    a {font-size: 1em; margin-left: 0em; margin-right: 0.4em;}
    h1 {font-size: 1.4em; margin-top: 10%;}
    h2 {font-size: 1em;}
    p {font-size: 0.75em; width: 105%;}
    #img2 {width: 18em; margin-top: -1%;}
    .ticketAchterkant {display: none; width: 550px; transform: rotate(0deg); margin-top: 2em; margin-left: auto; margin-right: auto;}
    .ticketVoorkant {display: none; width: 400px; transform: rotate(0deg); margin-top: -13em; margin-left: 9em; margin-bottom: 0em;}
    footer {margin-top: 5%; width: 4em;}
    .footerlink {font-size: 0.8em;}
}
