html {background: #FAEEB2; font-family: hind vadodara;}

nav {margin-left: auto; margin-right: auto; margin-top: 3em; width: 900px; text-align: center;}

a {text-decoration: none; color:#D3AB3B; font-weight: bold;font-size: 2.2em; margin-right: 0.8em; margin-left: 0.8em; font-family: showcard gothic;}


#tekst {margin-left: -130px;}
h1 {font-size: 8em; font-weight: bold; font-family: showcard gothic; color: #D3AB3B; margin-left: 680px;margin-top: 100px;}
span {display: block;transform: rotate(180deg); float: left; margin-top: 0.05em;}
h2 {font-size: 3em; font-weight: bold; color: #D3AB3B; margin-left: 780px;margin-top: 15px;}
h3 {width: 600px; font-size: 1.5em; font-weight: bold; color: #896E29; margin-left: 870px;margin-top: 55px; line-height: 1.5em;}

#logo {width: 7%; margin-left: 0em; margin-bottom: -1em; margin-top: 0em;}
#img2 {width: 50%; position: relative; margin-left: 0em; display: block;margin-top: 3em;}
#img3 {width: 50%; margin-left: 59.5em; margin-top: -6em;}

#img1 {width: 1000px; display: block; margin-left:-23em; margin-top:3em; position: fixed; }

.ticket {width: 600px; display: block; position: fixed; margin-left: 35em; margin-top: -15em; transform: rotate(15deg)}
#ticket {width: 600px;}
#img4 {display: block; position: fixed; margin-left: 100em; margin-top: -20em;transform: rotate(40deg)}

footer {margin-top: 4em; display: block; width: 9em; margin-left: auto; margin-right: auto;}
.footerlink {font-size: 1.4em; font-weight: normal; color: #896E29; text-decoration: underline;}

.active {color: #59694D;}
a:active {color: #59694D;}

@media (max-width:900px) {
    nav {width: 470px;}
    a {font-size: 1.5em;}
}

@media (max-width:750px) {
  nav {width: 400px; margin-top: 2em;}
  #logo {width: 15%}
  a {font-size: 1.3em; margin-left: 0.4em; margin-right: 0.4em;}
  h1 {font-size: 7em; margin-left: 1.4em; margin-top: 2em}
  h2 {font-size: 2em; margin-left: 7em; margin-top: 0.2em;}
  h3 {width: 23em ;font-size: 1em; margin-left: 18em;margin-top: 2em;}
  #img1 {width: 450px; margin-left: -10.5em; margin-top: 20em;}
  #img2 {width: 175px; margin-top: -12em; position: fixed;}
  #img3 {width: 175px; margin-left: 10.8em; margin-top: -11.9em; position: fixed;}
  #golven {width: 350px; margin-left: auto; margin-right: auto;}
  .ticket {margin-left: 15em; margin-top: -18em; transform: rotate(25deg)}
  #ticket {width: 380px;}
  #img4 {width: 300px; margin-left: 30em; margin-top: -5em;}
  footer {margin-left: auto; margin-right: auto; margin-top: 13em; width: 4.2em;}
  .footerlink {font-size: 0.8em; margin-left: -0.5em;}
}

@media (max-width:450px) {
    nav {width: 320px;}
    #logo {width: 13%; margin-bottom: -1em; margin-top: -1em;}
    a {font-size: 1em; margin-left: 0.4em; margin-right: 0.4em;}
    h1 {font-size: 3em; margin-left: 3em; margin-top: 1.5em}
    h2 {font-size: 2em; margin-left: 4.5em; margin-top: 0.2em;}
    h3 {width: 20em ;font-size: 1em; margin-left: 9em;margin-top: 0em;}
    #img1 {width: 250px; margin-left: -6.5em; margin-top: 18em;}
    #img2 {width: 175px; margin-top: -3em; position: fixed;}
    #img3 {width: 175px; margin-left: 10.8em; margin-top: -2.9em; position: fixed;}
    #golven {width: 350px; margin-left: auto; margin-right: auto;}
    .ticket {margin-left: 7em; margin-top: 13em; transform: rotate(45deg)}
    #ticket {width: 320px;}
    #img4 {display: none;}
    footer {margin-left: auto; margin-right: auto; margin-top: 9.5em; width: 4.2em;}
    .footerlink {font-size: 0.8em; margin-left: 0.5em;}
}
